<section id="nav-footer">
  {% if flash %}
    <div class='flash flash-{{ flash.code }}'>
      <p>{{ flash.msg }}</p>
      <span class="close-btn">{{ include ('/svg/close.svg') }}</span>
    </div>
  {% endif %}
  <div class="nav-form hidden">
    {{ include ('/partials/login.html.twig') }}
  </div>
  <div class="nav-form hidden">
    {{ include ('/partials/register.html.twig') }}
  </div>
</section>
