<section id="nav-footer">
  {% if flash %}
    <div class='flash flash-{{ flash.code }}'>
      <p>{{ flash.msg }}</p>
      <span id="close-btn">{{ include ('/svg/close.svg') }}</span>
    </div>
  {% endif %}
  <div class="" id="bottom">
    {{ include ('/partials/menu.html.twig') }}
    <form class="nav-form hidden" id="login-form" action="/auth/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" min='4'>
      <label for="password">Password:</label>
      <input type="password" name="password" min='8'>
      <div class="form-buttons">
        <button type='submit' class="desktop-btn">{{ include ('/svg/arrow.svg') }}</button>
        <button class="mobile-btn">{{ include ('/svg/arrow-slim.svg') }}Back</button>
        <button id="login-btn-mobile" class="mobile-btn">Login {{ include ('/svg/arrow-slim.svg') }}</button>
      </div>
    </form>
    <form class="nav-form hidden" id='register-form' action="/auth/register" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username">
      <label for="password">Password:</label>
      <input type="password" name="password">
      <div class="form-buttons">
        <button type="submit" class="desktop-btn">{{ include ('/svg/arrow.svg') }}</button>
        <button class="mobile-btn">{{ include ('/svg/arrow-slim.svg') }}Back</button>
        <button id="register-btn-mobile" type="submit" class="mobile-btn">Register {{ include ('/svg/arrow-slim.svg') }}</button>
      </div>
    </form>
    {{ include ('/partials/sidebar.html.twig') }}
  </div>
</section>
