    {{ include('partials/header.html.twig') }}
    <link rel='stylesheet' href='/stylesheets/edit.css'>
    <link rel="stylesheet" href="/stylesheets/partials/sidebar.css">
  </head>
  <body>
    {{ include('partials/sidebar.html.twig') }}
    <div class="container">
      <form action="/edit/index" method="post">
        <div class="header">
          <button type="button">Back</button>
          <button type="button" id="review-btn">Review</button>
          {% if article.title == null %}
            <input placeholder="Enter title...." type="text" name="title" value="">
          {% else %}
            <h1>{{article.title}}</h1>
          {% endif %}
        </div>

        <div id="decorator">
          <button type="button" name="header">T</button>
          <button type="button" name="emphasis">
            <em>e</em>
          </button>
          <button type="button" name="bold">
            <b>b</b>
          </button>
        </div>

        {% for contribution in contributions %}
          <p>{{contribution.body | raw}}<i> - written by {{contribution.author}}</i></p>
          <br/>
        {% endfor %}

        <div class="contributions">
          <!-- contribution textareas go here -->
        </div>
        <button disabled type="submit" name="button">Commit</button>
      </form>
      <div id="review">
        <h1>Review:</h1>
        <hr>
      </div>
    </div>
    <script type="module" src="/Edit/Contribution.js"></script>
    <script type="module" src="/Edit/index.js"></script>
  </body>
</html>
