    {{ include('partials/header.html.twig') }}
    <link rel='stylesheet' href='/stylesheets/edit.css'>
    <link rel="stylesheet" href="/stylesheets/partials/sidebar.css">
  </head>
  <body>
    {{ include('partials/sidebar.html.twig') }}
    <div class="container">
      <form action="/edit/index" method="post">
        <div class="header">
          <button type="button">Back</button>
          {% if article.title == null %}
            <input placeholder="Enter title...." type="text" name="title" value="">
          {% else %}
            <h1>{{article.title}}</h1>
          {% endif %}
        </div>

        {% for contribution in contributions %}
          <p>{{contribution.body}} - <i>written by {{contribution.author}}</i></p>
          <br/>
        {% endfor %}

        <textarea name="contribution" rows="5"></textarea>
        <button disabled type="submit" name="button">Commit</button>
      </form>
    </div>
    <script type="module" src="/Edit/edit.js"></script>
    <script type="module" src="/Edit/index.js"></script>
  </body>
</html>
