{% extends '/blocks/page.html.twig' %}

{% block links %}
  {{ parent() }}
  <link rel='stylesheet' href='/stylesheets/edit.css'>
{% endblock %}

{% block content %}
  {{ include('partials/sidebar.html.twig') }}
  <div class="container">
    <div class="hidden" id="popup">
      <p>It seems you may have veered off-topic. Your post will be marked for review by a moderator if you submit it.</p>
      <ul>
        <li>Check your contributions for proper punctuation.</li>
        <li>Make sure you base your writing on the latest contributions in the article.</li>
      </ul>
      <button id="commit-sure">Commit Anyway</button>
      <button id="close-popup">Go Back</button>
    </div>
    <section id="edit">
      <div id="header">
        <button class="desktop-btn" ><a href="/articles/view">Back</a></button>
        <button class="mobile-btn"><a href="/articles/view">{{ include('/svg/arrow-slim.svg') }}Back</a></button>
        {% if article.title == null %}
          <input id="title-input" placeholder="Enter title...." type="text" name="title"/>
        {% else %}
          <h1>{{article.title}}</h1>
          <h2>{{article.username}}</h2>
        {% endif %}
      </div>

      <div id="article">
        {% for contribution in contributions %}
          <div class="prev-contribution">
            <p class="body">{{contribution.body | raw}}</p>
            <span class="date" hidden>{{contribution.date}}</span>
            <span class="contributor" hidden>{{ contribution.author }}</span>
            <br/>
          </div>
        {% endfor %}
      </div>

      <hr/>

      <div class="contributions">

        <div id="decorator">
          <button type="button" name="header">A</button>
          <span class="line"></span>
          <button type="button" name="emphasis"><em>I</em></button>
          <span class="line"></span>
          <button type="button" name="bold"><b>B</b></button>
        </div>
        <!-- contribution paragraphs go here -->
      </div>

      <button type="button" id="commit-btn">Commit</button>

      <form id="contribution-form" action="/articles/edit/" method="post">
        <input type="hidden" name="contribution-1"/>
        <input type="hidden" name="contribution-2"/>
        <input type="hidden" name="contribution-3"/>
        <input type="hidden" name="contribution-4"/>
        <input id="title-form" type="hidden" name="title"/>
      </form>
    </section>
  </div>
  <script type="module" src="/articles/edit/client/index.js"></script>
{% endblock %}
