{% extends ('/blocks/page.html.twig') %}

{% block links %}
  {{ parent() }}
  <link rel='stylesheet' href='/stylesheets/view.css'>
{% endblock %}

{% block content %}
  {{ include('partials/sidebar.html.twig') }}
  <div class="container">
    <h1>{{ title }}</h1>
    <h2>{{ author }}</h2>
    <div id="contributions">
      {% for contribution in contributions %}
        <div class="contribution">
          <p>{{contribution.body | raw}}</p>
          <span class="contributor">{{ contribution.author }}</span>
          <br/>
        </div>
      {% endfor %}
    </div>
    {% if latest %}
      <button><a href="/edit">Contribute</a></button>
    {% endif %}
  </div>
{% endblock %}
